.menu-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 2rem 0;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menu__item {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.3s;
}

.menu__item:first-child {
    border-top: 1px solid;
}

.menu__item:hover {
    z-index: 10;
}

.menu:hover .menu__item:not(:hover) {
    opacity: 0.5;
}

.menu__item-link {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 2vh 0;
    font-size: 6vh;
    font-weight: 700;
    font-family: var(--font-heading, sans-serif);
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
    display: block;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 5;
    transform: translate3d(0, 101%, 0);
}

.marquee__inner-wrap {
    width: 100%;
    height: 100%;
    transform: translate3d(0, -101%, 0);
}

.marquee__inner {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    will-change: transform;
}

.marquee__part {
    display: flex;
    align-items: center;
    padding: 0 4vw;
    font-size: 6vh;
    font-weight: 700;
    font-family: var(--font-heading, sans-serif);
    white-space: nowrap;
    height: 100%;
}

.marquee__img {
    width: 12vh;
    height: 8vh;
    margin: 0 2vw;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}