.scroll-float {
    overflow: hidden;
    display: inline-block;
}

.scroll-float-text {
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.scroll-float .char {
    display: inline-block;
    will-change: opacity, transform;
}